# Folder shortcuts
alias dl="cd ~/Downloads"
alias dt="cd ~/Desktop"
alias p="cd ~/Projects"
alias t="cd ~/Temp"
alias icloud="cd ~/Library/Mobile\ Documents/com~apple~CloudDocs/"

# Command shortcuts
alias c="clear"
alias la="ls -la"
