# Folder aliases
alias dl="cd ~/Downloads"
alias dt="cd ~/Desktop"
alias p="cd ~/Projects"
alias t="cd ~/Temp"
alias icloud="cd ~/Library/Mobile\ Documents/com~apple~CloudDocs/"
alias dots="cd ~/dotfiles"

# Command aliases
alias c="clear"
alias cat="bat"
alias ls="ls -G"
alias la="ls -la"

