# Folder aliases
alias dl="cd ~/Downloads"
alias dt="cd ~/Desktop"
alias dev="cd ~/Developer"
alias dots="cd ~/Developer/dotfiles"
alias icl="cd ~/Library/Mobile\ Documents/com~apple~CloudDocs/"

# Command aliases
alias c="clear"
alias cat="bat"
alias ls="ls -G"
alias la="ls -la"
