[user]
    name = Jamie Weavis
    email = jamie.weavis@gmail.com
    username = jamieweavis

[core]
    editor = vim
    whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
    excludesfile = ~/.gitignore

[alias]
    st = status -s
    lg = log --graph --date-order --date=short --pretty=format:'%C(auto)%h%d %C(reset)%s %C(dim white)(%an, %ar)%C(reset)'

[color]
    ui = true

[push]
    default = current
    followTags = true
