[user]
	name = Jamie Weavis
	email = jamie.weavis@gmail.com
	username = jamieweavis

[alias]
	s = status -s
	l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit

[core]
	excludesfile = /Users/jamie/.gitignore

[color]
	ui = true

[push]
	default = current
	followTags = true

